
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

.container{
    width: 95%;
    max-width: 1500px;
    margin: auto auto;

}

.d-grid{
    display: grid;
    grid-template: repeat(4, 1fr)/repeat(7,1fr);
    gap: 7px 3px;
    padding-top: 15px;
    padding-bottom: 15px;
    height: 100vh;
}

.d-flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    justify-items: center;

}

.align_center{
    justify-content: center;
}

/* #region site_header */

#site_header{
    background-color: rgb(0, 0, 0);
    height: 5vh;
    overflow: hidden;
}

a{
    color: white;
    text-decoration: none;
}
.position{
    display: flex;
    color: white;
    flex-direction: row;
    align-items: baseline;
}

.top_left{
    position: absolute;
    left: 87.5%;
    background-color: rgb(75, 75, 75);
    padding: 8px 18px;
    border-radius: 5px;
    margin: 10px 2px;
    font-size: 10px;
    text-align: center;
    border-style: hidden;
    
}

.top_left_back{
    position: absolute;
    left: 87.5%;
    background-color: rgb(75, 75, 75);
    padding: 6px 18px;
    border-radius: 5px;
    margin: 10px 2px;
    font-size: 10px;
    text-align: center;
    border-style: hidden;
    
}

.click:hover .top_left{
    display: block;

}

.click:hover .top_left_back{
    display: none;
}

.top_right{
    position: absolute;
    padding: 4px 4px;
    margin: 10px 2px;
    border-radius: 5px;
    background-color: rgb(75, 75, 75);
    left: 94%;
    text-align: center;
}

.top_right_back{
    position: absolute;
    padding: 3px 3px;
    margin: 10px 2px;
    border-radius: 5px;
    background-color: rgb(75, 75, 75);
    left: 94%;
    text-align: center;
}

.click_2:hover .top_righ{
    display: block;

}

.click_2:hover .top_right_back{
    display: none;

}

/* #endregione site_header */

#site_main{
    background-color: black;
    height: 100vh;
 }



img{
    width: 100%;
}

#site_footer{
    background-color: rgb(58, 57, 57);
    height: auto;
    padding-top: 5px;
    padding-bottom: 5px;
}
 .foot{
    font-size: 20px;
 }
.space{
    display: flex;
    flex-direction: row;
    align-items: start;
    color: white;
}
a{
    margin-top: 5px;
    padding: 5px 5px;
    align-items: center;
}

.video{
    align-self: center;
}

span{
    padding: 0px 5px;
}

.finish{
    background-color: rgb(114, 114, 114);
    color: red;
    padding: 10px 10px;
}