
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
}


.container{
    width: 98%;
    max-width: 1500px;
    height: 100vh;
    max-height: 1920px;
    padding: 50px 0px;
    margin: 0 auto;
}

.d-flex{
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
    
}

.space-between{
    justify-content: space-between;
}

.align-center{
    align-items: center;
}

.cal-7{
    width: calc(100%/12*10.5);
}

.main{
    overflow: hidden;
    
}
   
#site_main{
    background-color: black;
    height: 100vh;
    width: 100vw;

}

img{
    height: 120px;
    width: auto;
}


    