
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
}


.container{
    width: 95%;
    max-width: 1500px;
    height: 100vh;
    margin: 0 auto;
    align-content: baseline;
}

.d-flex{
    display: flex;
    flex-wrap: wrap;
    gap:2px; 
    margin-left: 2%;
    margin-right: 2%;

}

.space-between{
    justify-content: space-between;
   
}

.align-center{
    align-items: center;
}

.cal-7 > div{
    width: calc(100%/7 - 2px);
}

#site_header{
    background-color: aliceblue;
    height: 3vh;
}


#site_main{
    background-color: black;
    height: 90vh;
    width: 100vw;
}

img{
    
    width: auto;
}

#site_footer{
    background-color: aquamarine;
    height: 5vh;
}
    